# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
build.gradle
gradlew
gradlew.bat
settings.gradle
.classpath
.gitignore
.project
.idea/misc.xml
.settings/org.eclipse.buildship.core.prefs
bin/main/factories/BoardFactory.class
bin/main/factories/GameFactory.class
bin/main/factories/PlayerFactory.class
bin/main/main/Driver.class
bin/main/model/boards/Board.class
bin/main/model/boards/BoardOptions.class
bin/main/model/boards/TwoHumanBoard.class
bin/main/model/games/CLIGame.class
bin/main/model/games/Game.class
bin/main/model/games/GameOptions.class
bin/main/model/moves/Move.class
bin/main/model/players/HumanPlayer.class
bin/main/model/players/Player.class
bin/main/model/players/PlayerOptions.class
bin/test/model/boards/BoardTest.class
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
out/production/TicTacToe/META-INF/TicTacToe.kotlin_module
out/production/TicTacToe/factories/BoardFactory.class
out/production/TicTacToe/factories/BoardFactory$1.class
out/production/TicTacToe/factories/GameFactory.class
out/production/TicTacToe/factories/GameFactory$1.class
out/production/TicTacToe/factories/PlayerFactory.class
out/production/TicTacToe/factories/PlayerFactory$1.class
out/production/TicTacToe/main/Driver.class
out/production/TicTacToe/model/boards/Board.class
out/production/TicTacToe/model/boards/BoardOptions.class
out/production/TicTacToe/model/boards/TwoHumanBoard.class
out/production/TicTacToe/model/games/CLIGame.class
out/production/TicTacToe/model/games/Game.class
out/production/TicTacToe/model/games/GameOptions.class
out/production/TicTacToe/model/moves/Move.class
out/production/TicTacToe/model/players/HumanPlayer.class
out/production/TicTacToe/model/players/Player.class
out/production/TicTacToe/model/players/PlayerOptions.class
out/production/TicTacToe/test/model/boards/BoardTest.class
.idea/misc.xml
